<html>
<body>
<div style="text-align: center;">
  <div style="max-width: 840px; margin: 0; padding: 0;">
    <h2 style="color: #292536; text-align: center">Solicitação de alteração de senha</h2>
    <img src='cid:recoverPassword' width='364.25' height='250'>
    <p style="color: #292536; text-align: center">Para alterar sua senha clique no botão abaixo: </p>
    <div style="margin: 20px auto; width: 120px; padding: 10px 20px; background-color: #00BFA6; border-radius: 5px">
      <a href="{{url}}" target="_blank" rel="noopener noreferrer"
         style="text-decoration: none; color: #fcfcfc; font-size: 18px; margin: 0 auto;">Alterar Senha</a>
    </div>
    <hr style='margin: 40px' />
    <img src='cid:logoBiodiesel' width='110.15' height='50' style='margin-bottom: 20px'> <br />
    <a href='https://www.biosistemico.org.br/'>
      Instituto BioSistêmico
    </a>
  </div>
</div>
</body>
</html>